@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Finding A Tournament</h1>
    <p class="lead">Bienvenido a nuestra aplicación web</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Más información &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Misión</h2>
        <p>
            Comprometidos con facilitar los procesos para los diferentes servicios a proporcionar.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>Obtener satisfacción por parte de los usuarios finales.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Valores</h2>
        <p>Integridad, Pasión, colaboración, trabajo en equipo, estetica.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver más &raquo;</a></p>
    </div>
</div>